@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


@keyframes breathe {
    0%, 100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.8);
    }
  }
  
  .breathing-animation {
    animation: breathe 2s ease-in-out infinite;
  }
  
  .backgroundImageStyle {
    background-image: url('../images/background.gif'); /* Adjust the path as needed */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
  }