@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes breathe {
    0%, 100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.8);
    }
  }
  
  .breathing-animation {
    animation: breathe 2s ease-in-out infinite;
  }
  